p{background-color:Tomato;}
p{background-color:Orange;}
p{background-color:DodgerBlue;}
p{background-color:MediumSeaGreen;}
p{background-color:Gray;}
p{background-color:SlateBlue;}
p{background-color:Violet;}
p{background-color:LightGray;}